[Unit]
Description=Pi Audio Button
After=multi-user.target

[Service]
Type=idle
ExecStart=/PiAudioButton/PiAudioButtonMain.py

[Install]
WantedBy=multi-user.target
