[Unit]
Description=Shutdown Button with Audio notification
After=multi-user.target

[Service]
Type=idle
ExecStart=/PiAudioButton/shutdownAudio.py

[Install]
WantedBy=multi-user.target
